<!DOCTYPE html>
<html>

 <body>
    <head>
    <title>Custome Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
  

    <h1>Music library</h1>
    <p>Search Google </p>

    <h2>Rock music</h2>

    <p>Google </p>
    <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Chuck_Berry_circa_1958.jpg/170px-Chuck_Berry_circa_1958.jpg">
    <h2>search engine: </h2>
    <a href="https://google.com">google homepage </a>

    <h3>done</h3>
    <p>under construction</p>

 </body>
</html>

