<!DOCTYPE html>
<html>

 <body>
    <head>
    <title>Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
  

    <h1>Music library</h1>
    <p>Music library is a place where you can find the information about the most beautiful songs from your favourite artists! enjoy!</p>

    <h2>Rock music</h2>

    <p>Rock music is a broad genre of popular music that originated as "rock and roll" in the United States in the late 1940s and early 1950s, developing into a range of different styles in the mid-1960s and later, particularly in the United States and the United Kingdom</p>
    <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Chuck_Berry_circa_1958.jpg/170px-Chuck_Berry_circa_1958.jpg">
    <h3>Famous Artist: </h3>
    <h4>Jimi Hendrix</h4>
    <h4>Chuck berry</h4>
    <h4>Eric Clapton</h4>
    <h2>wikipedia: </h2>
    <a href="https://en.wikipedia.org/wiki/Rock_music">Rock music </a>

    <h3>Typical instruments </h3>
    <ul>
        <li>Bass guitar</li>
        <li>electric guitar</li>
        <li>Electronic drum</li>
    </ul>

    <h3>Cultural origins</h3>
    <p>1950s and 1960s, US and UK</p>

 </body>
</html>

