/* The links are pink by default */
a:link {
    color: pink;
}

/* The links are red after they are clicked on */
a:visited {
    color: red;
}

/* No text style when you over over a link (the underline will be removed)*/
a:hover {
    text-decoration: none;
}

