body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-light: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img {
  display: block;
  width: 40%;
  margin: auto;
}

